# MATLAB Temporary Files
*.asv
*.m~
*.autosave
*.bak
*.fig
slprj/
*.mex*

# OS & Editor artifacts
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*~
__pycache__/
*.pyc
*.log
# M3 Segmentation generated data
src/segmentation/datasets/multiclass_images/
src/segmentation/datasets/multiclass_masks/

# M3 trained models
src/segmentation/trained_models/

# M3 generated outputs
src/segmentation/outputs/